@import '../../../styles/main';

/*

  ELEMENTOS

*/
.main-div{
  display: flex;
  flex-direction: column;
  height: max-content;
  width: max-content;
  position: absolute;
  top: 25%;
  right: 50%;
  transform: translate(50%, -50%);
  text-align: center;
}

.titulo-home{
  @include titulo-home;
}


.options-div{
  display: flex;
  flex-direction: row;
  top: 55%;
  position: absolute;
  right: 50%;
  transform: translate(50%, -50%);
  gap: 2rem;

}

.card-buy{
  display: flex;
  align-items: center;
  flex-direction: column;
  border: none;
  border: 0px solid #E7E7E7;
  filter: drop-shadow(0px 0px 10px gray);
  margin: 25px;

}

button{
  background: transparent;
}

.clothes, .vehicles, .houses{
  width: 35%;
 }

 .button-houses, .button-vehicles , .button-clothes{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
 }

 .button-houses label,  .button-vehicles label , .button-clothes label{
  margin-bottom: 1rem;
 }



/*

    IMAGENES DE FONDO

*/

.f6{
  display: flex;
  flex-direction: column;
  width: 25%;
  position: fixed;
  transform: translateX(0%) translateY(-21%) rotate(183deg);
  opacity: 65%;
}

.f9{
  display: flex;
    flex-direction: column;
    width: 25%;
    position: fixed;
    transform: translateX(-25%) translateY(50%) rotate(274deg);
    opacity: 65%;
}

.f5{
  display: flex;
    flex-direction: column;
    width: 30%;
    position: fixed;
    transform: translateX(205%) translateY(-35%) rotate(319deg);
    opacity: 65%;
}

.f10{
  display: flex;
  flex-direction: column;
  width: 20%;
  position: fixed;
  transform: translateX(252%) translateY(105%) rotate(296deg);
  opacity: 65%;
}

.f11{
  display: flex;
  flex-direction: column;
  width: 20%;
  position: fixed;
  transform: translateX(430%) translateY(75%) rotate(201deg);
  opacity: 65%;
}

.f12{
  display: flex;
  flex-direction: column;
  width: 18%;
  position: fixed;
  transform: translateX(20rem) translateY(30rem) rotate(157deg);
  opacity: 65%;
}

.f4{
  display: flex;
  flex-direction: column;
  width: 20%;
  position: fixed;
  transform: translateX(430%) translateY(-45%) rotate(113deg);
  opacity: 65%;
}

 @media screen and (max-width: 1000px) {
  .options-div{
    right: 0%;
    transform: translate(0%, -50%);
  }
  .f1{
    width: 100%;
  }
  .f4{
    width: 50%;
    transform: translateX(130%) translateY(-45%) rotate(113deg);
  }
  .f5{
    width: 50%;
    transform: translateX(145%) translateY(120%) rotate(319deg);
  }
  .f6{
    width: 40%;
    transform: translateX(-20%) translateY(-35%) rotate(274deg);
  }
  .f9{
    width: 40%;
    transform: translateX(-25%) translateY(245%) rotate(274deg);

  }
  .f12{
    width: 20%;
    transform: translateX(405%) translateY(150%) rotate(257deg);
  }
  .f11{
    width: 50%;
    transform: translateX(-55%) translateY(70%) rotate(274deg);
  }
  .f10{
    width: 40%;
    transform: translateX(155%) translateY(265%) rotate(256deg);
  }
}
