<img src="assets/img-fondo/f6.png" class="f6">
<img src="assets/img-fondo/f9.png" class="f9">
<img src="assets/img-fondo/f5.png" class="f5">
<img src="assets/img-fondo/f10.png" class="f10">
<img src="assets/img-fondo/f11.png" class="f11">
<img src="assets/img-fondo/f12.png" class="f12">
<img src="assets/img-fondo/f4.png" class="f4">

<app-shared-navbar></app-shared-navbar>

<div class="main-div">

  <span class="titulo-home">JOVED</span>
  <span> ¿Qué buscas hoy? </span>
</div>
<div class="options-div">

  <ngb-carousel class="carousel-dark">

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper" class="card-buy">
        <button (click)="viewProducts(0)" class="button-houses">
          <img src="assets/icons/casa.png" class="houses" alt="Random first slide" />
          <label>Inmobiliaria</label>
        </button>
      </div>
    </ng-template>


    <ng-template ngbSlide>
      <div class="picsum-img-wrapper" class="card-buy">
        <button (click)="viewProducts(1)" class="button-vehicles">
          <img src="assets/icons/car.png" class="vehicles" alt="Second slide" />
          <label>Vehículos</label>
        </button>
      </div>
    </ng-template>


    <ng-template ngbSlide>
      <div class="picsum-img-wrapper" class="card-buy">
        <button (click)="viewProducts(2)" class="button-clothes">
          <img src="assets/icons/ropa.png" class="clothes" alt="Third slide" />
          <label>Moda</label>
        </button>
      </div>
    </ng-template>

  </ngb-carousel>
</div>
