<header class="header">
  <div [ngClass]="{'hidden' : isHome()}"  class="titulo">
  <button (click)="home()" >
    <span class="titulo-principal" routerLinkActive="router-link-active" >JOVED</span>
  </button>
  </div>
  <button *ngIf="logueado" mat-button [matMenuTriggerFor]="menu" class="button-login "><img src="../../../../assets/icons/iconousuario.png"></button>
  <mat-menu #menu="matMenu" class="bg-white" xPosition="before">
    <button *ngIf="logueado" (click)="profile()" mat-menu-item>
      <mat-icon>person</mat-icon>
      <span>Mi perfil</span></button>
    <button *ngIf="logueado" (click)="newProduct()" mat-menu-item>
      <mat-icon>sell</mat-icon>
      <span>Subir producto</span></button>
    <button *ngIf="logueado" (click)="logOut()" mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      <span> Cerrar sesión</span>
    </button>
  </mat-menu>

  <div *ngIf="!logueado" class="button-login2">
    <button mat-fab extended (click)="login()">
      INICIAR SESIÓN
    </button>
  </div>
</header>
