
@import '../../../../styles/main.scss';
/*

  CONTENIDO

*/


.titulo-principal {
  @include titulo-navbar;
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.title-name{
  @include titulo-navbar;
}

.header{
  margin-right: 8rem;
    margin-left: 10rem;
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.titulo button{
  border: 1px none;
    background: none;
}
@media screen and (max-width: 1000px) {
  .header{
   margin-right: 1rem;
    padding-top: 3rem;
    display: flex;
    flex-direction: row-reverse;
  }
}

img{
  width: 5rem;
}

span{
  font-size: medium;
}

.button-login{
  background-color: rgb(255, 255, 255);
  height: max-content;
  box-shadow: 5px 5px 6px 3px #7a7a7a;
  border: 1px solid rgb(236 235 235);
}

.nav-links{
  list-style: none;
}

.nav-links li{
display: inline-block;
padding: 0 10px;
}

.nav-links a{
  font-size: 1rem;
  text-decoration: none;
}

.button-login2{
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.button-login2 button{
  background-color: $morado-primario;
  color: white;
  width: 8rem;
  font-size: 0.6rem;
}

mat-icon{
  margin-right: 16px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: flex-end;

}

.hidden{
  visibility: hidden;
}
