@import '../../../styles/main';

.main-div{
  display: flex;
  flex-direction: column;
  height: max-content;
  width: max-content;
  position: absolute;
  right: 50%;
  transform: translate(50%);
}
.mat-card{
  box-shadow: -10px 10px 25px -8px #7519de;
  border: 1px solid #E7E7E7;
  margin-bottom: 20px;

}
.username , .password, .name, .surname, .phone , .fetch, .email{
  width: 100%;
}

.button-login{
  display: flex;
  justify-content: center;

}

.button-login button{
  background-color: $morado-primario;
  color: white;
}


.button-login img{
  width: 100%;
  object-fit: cover;
}

.a-login{
  text-align: center;
  text-decoration: none;
 @include fuente-primaria;
 font-size: 1.5rem;
 color: black;
 margin-bottom: 2rem;

}


.titulo-principal{
  @include titulo-inicio;

}

.f2{
  display: flex;
  flex-direction: column;
  width: 35%;
  position: fixed;
  transform: translateX(-25%) translateY(-35%) rotate(355deg);
}
@media screen and (max-width: 1000px) {
  .f2{
    width: 60%;
    transform: translateX(-35%) translateY(-35%) rotate(274deg);

  }
}

.f4{
  display: flex;
  flex-direction: column;
  width: 35%;
  position: fixed;
  transform: translateX(220%) translateY(-35%) rotate(208deg);
}
@media screen and (max-width: 1000px) {
.f4{
  width: 60%;
  transform: translateX(110%) translateY(-25%) rotate(208deg);

}
}

.f12{
  display: flex;
  flex-direction: column;
  width: 30%;
  position: fixed;
  transform: translateX(-5%) translateY(35%) rotate(308deg);
}
@media screen and (max-width: 1000px) {
.f12{
  width: 60%;
  transform: translateX(-15%) translateY(140%) rotate(308deg);

}
}

.f7{
  display: flex;
  flex-direction: column;
  width: 30%;
  position: fixed;
  transform: translateX(250%) translateY(40%) rotate(333deg);
}
@media screen and (max-width: 1000px) {
.f7{
  width: 60%;
  transform: translateX(95%) translateY(100%) rotate(333deg);

}
}
