
.f1{
  display: flex;
  flex-direction: column;
  width: 25%;
  position: fixed;
  opacity: 65%;
  transform: translateX(-15%) translateY(45%) rotate(87deg);
}
@media screen and (max-width: 1000px) {
.f1{
  width: 50%;
  transform: translateX(-55%) translateY(70%) rotate(274deg);

}
}

.f8{
  display: flex;
  flex-direction: column;
  width: 20%;
  position: fixed;
  transform: translateX(0%) translateY(-55%) rotate(201deg);
  z-index: -2;
  opacity: 65%;

}
@media screen and (max-width: 1000px) {
.f8{
  width: 50%;
  transform: translateX(-55%) translateY(70%) rotate(274deg);

}
}


.f9{
  display: flex;
  flex-direction: column;
  width: 25%;
  position: fixed;
  opacity: 65%;
  transform: translateX(300%) translateY(65%) rotate(135deg);
}
@media screen and (max-width: 1000px) {
.f9{
  width: 50%;
  transform: translateX(-55%) translateY(70%) rotate(274deg);

}
}

.f12{
  display: flex;
  flex-direction: column;
  width: 20%;
  opacity: 65%;
  position: fixed;
  transform: translateX(430%) translateY(-40%) rotate(247deg);
  z-index: -1;
}
@media screen and (max-width: 1000px) {
.f12{
  width: 50%;
  transform: translateX(-55%) translateY(70%) rotate(274deg);

}
}


.main-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* height: max-content; */
  /* width: min-content; */
  /* position: absolute; */
  /* gap: 2rem; */
  /* top: 50%; */
  /* right: 50%; */
  /* transform: translate(50%, -50%); */
  /* text-align: center; */
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}
.mat-card{
  box-shadow: 0px 8px 15px -6px #7a7a7a;
  border: 1px solid #7a7a7a;
  width: 25rem;
  height: 20rem;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
}

.mat-card p{
  text-overflow: ellipsis;
  overflow: hidden;
}
// button{
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   text-decoration: none;
//   color: black;
//   background: transparent;

// }
.buttons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.img{
  height: 10rem;
  width: auto;
}

.card-houses, .card-vehicles, .card-clothes{
  //box-shadow: 0px 10px 45px -8px #7519de;
  border: 0px solid #E7E7E7;
  filter: drop-shadow(0px 0px 10px gray);

}

.pagination{
  width: 100%;
  display: grid;
  text-align: center;

}

.clothes, .vehicles, .houses{
  width: 60%;

 }
 @media screen and (max-width: 1000px) {
 .f1{
   width: 100%;
 }

 }


