<img src="assets/img-fondo/f1.png" class="f1" >
<img src="assets/img-fondo/f8.png" class="f8" >
<img src="assets/img-fondo/f9.png" class="f9" >
<img src="assets/img-fondo/f12.png" class="f12" >

<app-shared-navbar></app-shared-navbar>
<!--
<div class="main-div">


    <button href="/categories" class="card-houses">
      <img src="assets/icons/casa.png" class="houses">
      <label>Viviendas</label>
    </button >

      <button href="/categories" class="card-clothes">
        <img src="assets/icons/ropa.png" class="clothes">
        <label>Ropa</label>
      </button>

        <button href="/categories" class="card-vehicles">
          <img src="assets/icons/car.png" class="vehicles">
          <label>Vehiculos</label>
        </button >

</div> -->
