@import '../../../styles/main';

/*

   CONTENIDO

*/

.main-div {
  display: flex;
  flex-direction: column;
  height: max-content;
  width: max-content;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.mat-card {
  box-shadow: 0px 8px 15px -6px #7a7a7a;
  border: 1px solid #dedbdb;
}

.a-register {
  text-align: center;
  text-decoration: none;
  @include fuente-primaria;
  font-size: 1.5rem;
  color: black;
}

.username,
.password {
  width: 100%;
}

.button-login {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.button-login button {
  background-color: $morado-primario;
  color: white;
}

.button-login button:disabled {
  background-color: #9a52ffb1;
  color: white;
}


.titulo-principal {
  @include titulo-inicio;
}


/*

    IMAGENES DE FONDO

*/

.f1 {
  display: flex;
  flex-direction: column;
  width: 25%;
  position: fixed;
  transform: translateX(-5%) translateY(-25%) rotate(274deg);
}

.f2 {
  display: flex;
  flex-direction: column;
  width: 35%;
  position: fixed;
  transform: translateX(-40%) translateY(25%) rotate(204deg);
}

.f3 {
  display: flex;
  flex-direction: column;
  width: 15%;
  position: fixed;
  transform: translateX(500%) translateY(55%) rotate(272deg);
}

.f4 {
  display: flex;
  flex-direction: column;
  width: 35%;
  position: fixed;
  transform: translateX(230%) translateY(25%) rotate(209deg);
}

.f5 {
  display: flex;
  flex-direction: column;
  width: 25%;
  position: fixed;
  transform: translateX(290%) translateY(-25%) rotate(136deg);
}

.f10 {
  display: flex;
  flex-direction: column;
  width: 10%;
  position: fixed;
  transform: translateX(150%) translateY(150%) rotate(280deg);
}


@media screen and (max-width: 1000px) {
  .f1 {
    width: 60%;
    transform: translateX(-25%) translateY(-45%) rotate(274deg);

  }
  .f2 {
    width: 60%;
    transform: translateX(-40%) translateY(150%) rotate(204deg);

  }
  .f3 {
    width: 60%;
    transform: translateX(500%) translateY(55%) rotate(272deg);
  }

  .f4 {
    width: 60%;
    transform: translateX(100%) translateY(150%) rotate(209deg);
  }
  .f5 {
    width: 60%;
    transform: translateX(90%) translateY(-25%) rotate(136deg);
  }
  .f10 {
    width: 60%;
    transform: translateX(500%) translateY(55%) rotate(272deg);
  }
}
