<img src="assets/img-fondo/f1.png" class="f1">
<img src="assets/img-fondo/f2.png" class="f2">
<img src="assets/img-fondo/f3.png" class="f3">
<img src="assets/img-fondo/f4.png" class="f4">
<img src="assets/img-fondo/f5.png" class="f5">
<img src="assets/img-fondo/f10.png" class="f10">

<div class="main-div">
  <span class="titulo-principal">JOVED</span>

  <p>
    <ngb-alert *ngIf="this.showalert === false" [type]="'danger'"> Usuario o contraseña no válidos </ngb-alert>
  </p>

  <mat-card class="mat-card">

    <mat-card-content>
      <form [formGroup]="formularioLogin" (submit)="onSubmit()">

        <mat-form-field class="username">
          <mat-label for="username">Usuario</mat-label>
          <input formControlName="username" matInput id="username" name="username">
        </mat-form-field>

        <br>
        <br>

        <mat-form-field class="password">
          <mat-label for="password">Contraseña</mat-label>
          <input matInput formControlName="password" type="text" [type]="hide ? 'password' : 'text'" id="password"
            name="password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>


        <div class="button-login">
          <button mat-fab extended [disabled]="!formularioLogin.valid" (click)="onSubmit()">
            INICIAR SESIÓN
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <br>
  <a href="/register" class="a-register">¿No estás registrado?</a>
</div>
